.control-button
    text-transform uppercase
    line-height 30px
    color #fff
    background-color #4cc8f1
    outline none
    border none
    border-radius 3px
    cursor pointer
    height 30px
    padding 0 12px
    font-size 10px
    margin-bottom 5px
    width 112px

    &:hover
        background-color #45c0e8

    &:disabled
        background-color #c7e4ee
