.timetable-container
    height: 100%;
    width 100%
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

.timetable
    padding 40px

.timetable__tab-label
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 40px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
    cursor pointer

.search-panel__search-field
    display block
    margin 15px 0

.timetable__tab-input
    display none

&:checked + .timetable__tab-label
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;

.timetable__content
    border: 1px solid #ddd;
    padding 15px
    min-width 465px
    max-width 788px

.flight-list, th, td
    border-collapse: collapse;
    border: 1px solid #ddd;
    padding 10px
    text-align center

.search-panel__status
    position: relative;
    display: inline-block;
    cursor: pointer

.search-panel__status-dropdown-content
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

.search-panel__status-item
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

.search-panel__status-item:hover
    background-color: #f1f1f1

.search-panel__status:hover .search-panel__status-dropdown-content
    display: block;

.search-panel__status-wrap
    padding 0

th, td
    width 110px
    max-width 110px

.edit
    width 60px
