@import '../../components/timetable.styl'
@import '../../components/flightsList.styl'
@import '../../components/flightsListItem.styl'

@font-face
    font-family 'Graphik Web'
    src url(https://d3ptyyxy2at9ui.cloudfront.net/cc4834ba2b1242862bf8d016d04fe352.woff) format('woff')

